.top-section .back{
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .top-section .back p{
    margin-left: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  .carousel-item{
    width: 100%!important;
    height: 250px !important;
  }
  .slides{
    height: 250px;
  }
  .slides img{
    margin: auto; 
    height: inherit;
  }
  .details-box{
    padding: 0 10px;
  }
  .bar{
    display: block;
    width: 100%;
    height: 30px;
    background-color: #4D5A76;
}
  .details-container{

  
  height: 600px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  table{
    max-height: fit-content;
    width: 100%;
    background-color:#F1F6F9;;
  }
  tr{
    width: 100%;
  height: auto;
    min-height: 80px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  }
  .line-1{
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 20px;
    justify-content: space-between;
  }
  .line-2{
    display: grid;
    grid-template-columns: 35% 65%;
  }
  .line-3{
    display: grid;
    grid-template-columns:  50% 50%;
  }
  .line-1 span{
    height: inherit;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
  }
  .line-1 span:nth-child(1){
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  td{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
  }
  .bttns{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  span button{
    width: 105px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border: none;
  }
  h5{
    font-weight: 700;
    font-size: 14px;
  }
  .select-btn{
    width: 170px !important;
    background-color: var(--bgBlue) !important;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    gap: 10px;
    border: none;
  }
  .small-pop{
    position: absolute;
    top: 300px;
    background-color: white;
    height: 60px !important;
    display: block;
    width: 170px;
    padding: 5px 5px;
    /* top: -20px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  p{
    color: rgba(57, 72, 103, 1);
    font-size: 13px;
  }

  .carousel-control-next, .carousel-control-prev{
    top: 100px;
    height: 50px;
  }