/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{

   
   
    --blue:#1877F2;
    --midBlue: rgba(222, 228, 240, 1);

    --raleway:'Raleway', sans-serif;
    --ralewaybold:'Raleway', sans-serif;
    --bgBlue:rgba(57, 72, 103, 1);
    --bgligthBlue:rgba(241, 246, 249, 1);
    

}